<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shohayeb.musicplayer">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application

        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@mipmap/ic_play_circle_filled_white_light_green_a700_48dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_play_circle_filled_white_light_green_a700_48dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LoadSongs"
            android:label="@string/find">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerActivity"
            android:label="@string/app_name"
            android:parentActivityName=".LoadSongs" />
    </application>

</manifest>